.textarea {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    font-size: 0.85rem;
}

input, textarea {
    padding: 10px;
    border: 1px solid #979797;
    border-radius: 5px;
}