.header {
    width: 100%;
    box-shadow:
    0px 1px 10px rgba(0, 0, 0, 0.07)
    ;
    border-bottom: 1px solid #d1d1d1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    height: 60px;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btns {
    display: flex;
    gap: 20px;
}

.icon {
    width: 32px;
    height: fit-content;
    max-height: 33px;
}

@media screen and (max-width: 1050px) {
    .header {
        padding: 0 10px;
    }
}

@media screen and (max-width: 460px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        height: fit-content;
        padding: 20px 0;
    }
}